{{extend 'layout.html'}}
<p><b>
A drive by download is when a user will download a program thinking that it will be something
<br>that they want, but it will end up being something malicious instead. There are a two main file
<br>extentions that you will want to be suscpicious of when you are downloading content off of the internet.
<br>The most common file extentions that you will find and want be wary of include .exe and .bat programs.
<br>.exe files and .bat files can open and execute when you click on them and immediately start running in
<br>the background without you even knowing. Make sure you know what kind of file extentsion a certain file
<br>should have before you open it. Audio and video files should never end in .exe.
<br>Other less common potentially malcious file extenstions include:
<br>.bat, .cmd, .lnk, .com, .vb, .scr, .vbe, .wsh, .pif, .vbs
</b></p>
<p><b>
You will notice an image below. It says that if you click on it, you will obtain a new free song.
<br>However, when you click on it it, you will automatically download a keylogger script. A keylogger
<br>is a program that will read every keystroke you hit, and it will store it in some kind of file
<br>that a malicious hacker can read. It will have every character that you hit, but a hacker will
<br>will try and look for strings that look like usernames and passwords, and then they will know
<br>your login credentials without having to brute force your password.
</b></p>
<a href="/imageScript/static/free_song.mp3.pyw" download>{{=IMG(_src=URL('static', 'images/keylogger_image2.jpg'))}}</a>

<p><b>
    This keylogger is a python script with the extention .pyw. This means that it is a python script and it
    <br>will execute automatically, and the console window that would normally pop up when you run a python 
    <br>script gets hidden and ran in the background as soon as its launched. The name of the script is called 
    <br>free_song.mp3.pyw. If you are not paying attention, you might click on the file as soon as it is downloaded. 
    <br>It will run and then disappear while you are left confused as to why an mp3 is not playing. Also, if you try 
    <br>to view the file in your downloads folder, it might just show up as free_song.mp3. This is because windows does 
    <br>not let you view file extensions by default. You have to manually allow for this option. So, even if you try
    <br>to find the file you downloaded, it still might look a normal mp3 file. In order to show file extensions,
    <br>open up file explorer and go to the view tab. There should be a check box to show all file extensions under view/hide.
    <br>Now you will know for sure what kind of files you are viewing.
</p></b>
